@model FolderRenameView

<div>
    @await Html.PartialAsync("_CurrentFolderLink", Model)
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <form asp-action="FolderRename" role="form" method="post">
                <input type="hidden" name="folderId" value="@Model.FolderId" />
                <input asp-for="NewName" class="form-control" />

                <input type="hidden" asp-for="ParentFolderId" value="@Model.ParentFolderId" />
                <input type="hidden" asp-for="ParentFolderName" value="@Model.ParentFolderName" />
                <input class="btn btn-primary mt-3 text-white" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>