@model FileCreateView

<form asp-action="CreateFile" role="form" enctype="multipart/form-data" method="post">
    <div class="col-6">
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="FormFile" class="form-label"></label>
                <input asp-for="FormFile" class="form-control" type="file" />
                <span asp-validation-for="FormFile" class="text-danger"></span>

                <input type="hidden" name="folderId" value="@Model.FolderId" />
            </div>
        </div>
    </div>

    <input class="btn" type="submit" value="File Upload" />
</form>