@model FolderCreateView

<form asp-action="CreateFolder" role="form" method="post">
    <div class="col-6">
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="FolderName" class="form-label"></label>
                <input asp-for="FolderName" class="form-control"/>

                <input type="hidden" name="folderId" value="@Model.FolderId" />
            </div>
        </div>
    </div>

    <input class="btn" type="submit" value="Create Folder" />
</form>