@model FileCreateView

<div>
    @await Html.PartialAsync("_CurrentFolderLink", Model)
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <form asp-action="CreateFile" role="form" enctype="multipart/form-data" method="post">
                @* <div asp-validation-summary="All" class="text-danger"></div> *@

                <label asp-for="DisplayName" class="form-label"></label>
                <input asp-for="DisplayName" class="form-control"/>
                <span asp-validation-for="DisplayName" class="text-danger"></span>

                <label asp-for="FormFile" class="form-label mt-3">Maximum upload size: 1MB</label>
                <input asp-for="FormFile" class="form-control" type="file" id="fileUpload"
                onchange="checkFileSize()"/>
                <span asp-validation-for="FormFile" class="text-danger"></span>

                <input type="hidden" name="folderId" value="@Model.CurrentFolderId" />
                <input type="hidden" name="folderName" value="@Model.CurrentFolderName" />
                <div class="text-end">
                    <input class="btn btn-primary mt-3 text-white" type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
    <script>
        function checkFileSize() {
            var file = document.getElementById('fileUpload').files[0];
            if (file && file.size > 1000000) { // 1 MB in bytes
                alert("File size exceeds 1 MB");
                document.getElementById('fileUpload').value = "";
            }
        }
    </script>
</div>
