@model FileRenameView

<div>
    @await Html.PartialAsync("_CurrentFolderLink", Model)
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <form asp-action="RenameFile" role="form" method="post">

                <input type="hidden" name="fileId" value="@Model.FileId" />
                <label asp-for="NewDisplayName" class="form-label">New Display Name</label>
                <input asp-for="NewDisplayName" class="form-control" />
                <span asp-validation-for="NewDisplayName" class="text-danger"></span>

                <label asp-for="NewFileName" class="form-label">New File Name</label>
                <input asp-for="NewFileName" class="form-control" />
                <span asp-validation-for="NewFileName" class="text-danger"></span>

                <input type="hidden" asp-for="CurrentFolderId" value="@Model.CurrentFolderId" />
                <input type="hidden" asp-for="CurrentFolderName" value="@Model.CurrentFolderName" />

                <input class="btn btn-primary mt-3 text-white" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>