@model FolderRenameView

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-5">
            <form asp-action="RenameFolder" role="form" method="post">
                <input type="hidden" name="folderId" value="@Model.FolderId" />
                <input asp-for="NewName" class="form-control" />

                <input type="hidden" name="parentFolderId" value="@Model.ParentFolderId" />
                            
                <input class="btn btn-primary mt-3 text-white" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>